/*
header {
    height: 220px;
    width: 100%;
    background-image: url("../img/b.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-image: url("../img/background.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
	background-color: rgb(147, 201, 201);
	height: 20px;
}

header button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;

    transition: transform .7s ease-in-out;

    display:flex;
    padding: 20px;
    
}

button:hover {
    transform: rotate(360deg);
}

.icon {
    width: 70px;
    height: 70px;
}
*/

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.item {
    padding-top: 20px;
    grid-column: span 1;
    grid-row: span 1;
}

.productImg {
    display: block;
    min-height: 125px;
    width: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.productName {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.productPrice, .productSize {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

.choice {
    margin-right: 30px;
    margin-left: 30px;
}

#size {
    text-align: right;
    margin-right: 35px;
}

