<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Account</title>
    <link href="/css/baseStyle.css" rel="stylesheet" type="text/css">
    <link href="/css/accountStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
   <header>
        <button type="button">
                <img class="icon" src="/images/cart.png" alt="cart">
        </button>
    </header>
    
    <nav></nav>
    <div class="wrapper">
        <div class="existingCustomer">
            <h3>Login</h3>
            <form action="">
                <div class="form-row">
                    <label for="login-email">Email:</label>
                    <input type="text" id="login-email" name="email">
                </div>

                <div class=form-row>
                    <label for="login-passwd">Password:</label>
                    <input type="password" id="login-passwd" name="passwd">
                </div>

                <input type="submit" value="Submit">
            </form>

        </div>

        <div class="newCustomer">
            <h3>Create Account</h3>
            <form id="signUpForm" action="">
                <div class="form-row">
                    <label for="userFirst">First Name:</label>
                    <input type="text" id="userFirst" name="userFirst">
                </div>

                <div class="form-row">
                    <label for="userLast">Last Name:</label>
                    <input type="text" id="userLast" name="userLast">
                </div>

                <br>
                <div class="form-row">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                </div>

                <div class="form-row">
                    <label for="userEmail">Email:</label>
                    <input type="text" id="userEmail" name="userEmail">
                </div>

                <div class="form-row">
                    <label for="userPassword">Password:</label>
                    <input type="password" id="userPassword" name="userPassword">
                </div>

                <br>
                <h3>Personal Details</h3>
                <div class="form-row">
                    <label for="userAddress">Address:</label>
                    <input type="text" id="userAddress" name="userAddress">
                </div>

                <div class="form-row">
                    <label for="userPhone">Phone Number:</label>
                    <input type="text" id="userPhone" name="userPhone">
                </div>

                <input type="submit" value="Submit">
            </form>

        </div>
    </div>

<script src="/js/login.js"></script>
</body>
</html>