<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirtify Checkout</title>
    <link href="/css/baseStyle.css" rel="stylesheet" type="text/css">
    <link href="/css/checkoutStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <button type="button" id="login" onclick="goTo('account')">
            <img class="icon" src="/images/account.png" alt="account">
        </button>
    </header>
    <nav></nav>

    <div class="cart-container">
        <h1> Checkout </h1>
        <div class="cart-header">
            <h4>ITEM</h4>
            <h4>PRICE</h4>
            <h4>QUANTITY</h4>
        </div>

        <button class="purchase">PURCHASE</button>

    </div>
     <script src="/js/checkout.js"></script> 
     <script src="/js/login.js"></script> 
     <script src="/js/main.js"></script> 
</body>
</html>