<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirtify Checkout</title>
    <link href="/css/baseStyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <button type="button" id="login" onclick="manageAccount()">
            <img class="icon" src="/images/account.png" alt="account">
        </button>
    </header>
    <nav></nav>

    <h1>Shirtify Checkout Page</h1>
</body>
</html>