<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shirtify</title>
    <link href="/css/baseStyle.css" rel="stylesheet" type="text/css">
    <link href="/css/shoppingStyle.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <button type="button" id="login" onclick="goTo('account')">
            <img class="icon" src="/images/account.png" alt="account">
        </button>

        <button type="button" id="checkout" onclick="goTo('checkout')">
                <img class="icon" src="/images/cart.png" alt="cart">
        </button>
    </header>
    <nav>
        <ul>
            <li><a href="/">Products</a></li>
            <li><input type="text" id="searchbar" name="searchbar" placeholder="Search...">
                <button type="button">Enter</button>
            </li>
        </ul>
    </nav>
    
    <div id="wrapper"></div> 

    <footer></footer>

    <script src="/js/products.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>